.greeting-card{
    border: 1px;
    box-shadow: 0 5px 87px 0 rgba(0, 0, 0, 0.103);
    background-color: rgba(230, 150, 30, 0.541);
    width: 700px;
    border-radius:  10px; 

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: fit-content;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
ul:hover {
    background-color: #8b2727;
  }

.c5{
    border: 10px;
    width: 200px;
    border-radius:  5px;
    padding-left: 0%; 

   
        border: 3px solid #ccc;
        background: #fffefe;
        margin: auto;
  
}
.c51{
    width: 200px;
    padding-left: 50%; 
}